units/schema/section.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Section File Specification
	Copyright (c) 2013. by Way2CU
	
	Author: Mladen Mijatov
-->
<!ELEMENT document (section*)>

<!ELEMENT section (language+)>
<!ATTLIST section 
	name CDATA #REQUIRED
	module CDATA #IMPLIED	
>

<!ELEMENT language (action*)>
<!ATTLIST language 
	name CDATA #REQUIRED
	file CDATA #IMPLIED
>

<!ELEMENT action EMPTY>
<!ATTLIST action
	name CDATA #REQUIRED
	file CDATA #REQUIRED 
>
